<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>        #{title}    </title>
    style
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href = "/">Body</a></li>
            <li><a href = "/">Contact us</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Enroll in this classroom now and get a discount of 10%(limited period offer)</h2>
        <!-- <h1>This is a heading</h1> -->
        <p>
            <!--for writing any line we have to add pipe before that line, for all the lines  -->
            <!-- | #{content}
            | This is plain html -->
            <form action="/" method="POST" id="contact">
                <input type="text" name="name" id="name" placeholder="Enter your name">
                <input type="text" name="age" id="age" placeholder="Enter your age">
                <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter your address" ></textarea>
                <textarea name="more" id="more" cols="30" rows="10" placeholder="Tell us about your interests" ></textarea>
                <button class="btn">Submit</button>
            </form>
        </p>
    </div>
</body>
</html>
