<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>        #{title}    </title>
</head>
<body>
    <!-- <nav>
        <ul>
            <li>Home</li>
            <li>Body</li>
            <li>Contact us</li>
        </ul>
    </nav> -->
    <h1>this is a heading</h1>
    <p>
        <!--for writing any line we have to add pipe before that line, for all the lines  -->
       | #{content}
       |  this is plain html

    </p>
</body>
</html>
